# Copyright (c) 2020 Pete Johanson
# SPDX-License-Identifier: MIT

config SHIELD_SSK_LEFT
    def_bool $(shields_list_contains,ssk_left)

config SHIELD_SSK_RIGHT
    def_bool $(shields_list_contains,ssk_right)
